$primary-color: #000000;
$secondary-color: #878686;
$background-color: #e2e3e5;
$whitetext: #ffffff;
$modaltext: #bbbbbb;
$orange: #ff6b09;
$grey: #f5f6fb;
$containercolor: #e2e3e5;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
