<div class="add-modal">
  <h2>Додати оголошення</h2>

  
  <div class="add-modal-field">
    <label class="add-modal-label" for="name">Назва товару</label>
    <input
      class="add-modal-input"
      type="text"
      name="name"
      id="name"
      placeholder=" "
    />
  </div>

  <div class="add-modal-field">
    <!-- Фото -->
  </div>

  <div class="add-modal-field">
    <label class="add-modal-label" for="description">Опис товару</label>
    <textarea
      class="add-modal-input add-modal-textarea"
      name="description"
      id="description"
      rows="5"
      placeholder=" ">
    </textarea>
  </div>

  <div class="add-modal-field">
    <!-- Сделать выпадающее меню для категорий товара -->
    <label class="add-modal-label" for="category">Категорія товару</label>
    <input
      class="add-modal-input"
      type="text"
      name="category"
      id="category"
      placeholder=" "
    />
  </div>

  <div class="add-modal-field">
    <label class="add-modal-label" for="price">Ціна</label>
    <input
      class="add-modal-input"
      type="text"
      name="price"
      id="price"
      placeholder="0.00 грн"
    />
  </div>

  <div class="add-modal-field">
    <label class="add-modal-label" for="phone">Телефон</label>
    <input
      class="add-modal-input"
      type="text"
      name="phone"
      id="phone"
      placeholder="+38 (0--) --- -- --"
    />
  </div>