<div class="add-modal">
  <h2>Додати оголошення</h2>

  <form action="" method="">
  <div class="add-modal-field">
    <label class="add-modal-label" for="name">Назва товару</label>
    <input
      class="add-modal-input"
      type="text"
      name="name"
      id="name"
      placeholder=" "
    />
  </div>

  <div class="add-modal-field">
    <label class="add-modal-label" for="photo">Фото</label>
    <input class="add-photo-input" type="file" name="photo" id="photo" accept="image/jpeg,image/png" />
    <input class="add-photo-input" type="file" name="photo" id="photo" accept="image/jpeg,image/png" />
    <input class="add-photo-input" type="file" name="photo" id="photo" accept="image/jpeg,image/png" />
    <input class="add-photo-input" type="file" name="photo" id="photo" accept="image/jpeg,image/png" />
    <input class="add-photo-input" type="file" name="photo" id="photo" accept="image/jpeg,image/png" />
    <input class="add-photo-input" type="file" name="photo" id="photo" accept="image/jpeg,image/png" />
  </div>

  <div class="add-modal-field">
    <label class="add-modal-label" for="description">Опис товару</label>
    <textarea
      class="add-modal-input add-modal-textarea"
      name="description"
      id="description"
      rows="5"
      placeholder=" ">
    </textarea>
  </div>

  <div class="add-modal-field">
    <label class="add-modal-label" for="category">Категорія товару</label>
    <select class="add-modal-input" id="category" name="category">
      <option value="sales">Розпродаж | Різне</option>
      <option value="recreationAndSport">Відпочинок і спорт</option>
      <option value="free">Віддам безкоштовно</option>
      <option value="businessAndServices">Бізнес та послуги</option>
    </select>
  </div>

  <div class="add-modal-field">
    <label class="add-modal-label" for="price">Ціна</label>
    <input
      class="add-modal-input"
      type="text"
      name="price"
      id="price"
      placeholder="0.00 грн"
    />
  </div>

  <div class="add-modal-field">
    <label class="add-modal-label" for="telephone">Телефон</label>
    <input
      class="add-modal-input"
      type="tel"
      name="telephone"
      id="telephone"
      placeholder="+38 (0--) --- -- --"
    />

  </form>
  </div>