<div class="add-modal-backdrop is-hidden">
  <form class="add-modal" action="" method="">
    <button class="add-modal-close">
      <svg class="add-modal-close-icon">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <div class="add-modal-title"><b>Редагувати оголошення</b></div>

    <!-- сюда вставить шаблон из hbs:
    <div class="edit-modal-body"></div> -->

    <div class="delete-advert-container">
      <span class="delete-advert">
        <svg class="delete-advert-icon">
          <use href="./images/symbol-defs.svg#icon-file-1"></use>
        </svg>
        Видалити оголошення
      </span>
    </div>

    <div class="edit-modal-button-container">
      <div class="add-modal-label"></div>
      <div class="edit-buttons">
        <button class="modal-button save-button" type="submit">Зберегти</button>
        <button class="modal-button cancel-button" type="submit">Відміна</button>
      </div>
    </div>
  </form>
</div>
