<div class="my-announcements">
    <button class="">
        <svg class="">
            <!-- Нужно добавить Х на скрол право лево -->
            <use href=""></use>
        </svg>
    </button>
    <button>
        <svg class="">
            <!-- Нужно добавить Х на скрол право лево -->
            <use href=""></use>
        </svg>
    </button>
    <ul class="my-announcements-list">
    </ul>
</div>
<div class="my-favorites">
    <button>
        <svg class="">
            <!-- Нужно добавить Х на скрол право лево -->
            <use href=""></use>
        </svg>
    </button>
    <button>
        <svg class="">
            <!-- Нужно добавить Х на скрол право лево -->
            <use href=""></use>
        </svg>
    </button>
    <ul class="my-favorites-list">
    </ul>

</div>