<div class="my-announcements">
    <button class="">
        <svg class="">
            <!-- Нужно добавить Х на скрол право лево -->
            <use href=""></use>
        </svg>
    </button>
    <button>
        <svg class="">
            <!-- Нужно добавить Х на скрол право лево -->
            <use href=""></use>
        </svg>
    </button>
    <ul class="my-announcements-list">
    </ul>
</div>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi repudiandae labore eaque fuga ad debitis blanditiis
    modi doloremque quidem laudantium iure fugiat, sapiente nisi quas nam obcaecati odit id! Ab.</p>
<div class="my-favorites">
    <button>
        <svg class="">
            <!-- Нужно добавить Х на скрол право лево -->
            <use href=""></use>
        </svg>
    </button>
    <button>
        <svg class="">
            <!-- Нужно добавить Х на скрол право лево -->
            <use href=""></use>
        </svg>
    </button>
    <ul class="my-favorites-list">
    </ul>

</div>