<!-- Общая обёртка для бекграунда -->
<!-- Хедер -->
<header>
    <div class="container header">
        <nav class="header-nav">


            <button type="button" class="menu-button" aria-controls="content" data-menu-button>

                <svg width="20" height="20" aria-label="Переключатель мобильного меню" class="icon-header-menu">
                    <use class="icon-open" href="./images/symbol-defs.svg#icon-menu"></use>
                </svg>
            </button>

            <a href="./index.html" class="logo-header">
                LOGO
            </a>


            <button type="button" class="login-button-tablet" aria-controls="login" data-search-button>
                РЕЄСТРАЦІЯ/УВІЙТИ
            </button>

            <button class="header-my-cab">
                <svg width="20" height="20" aria-label="Мой кабинет" class="icon-submenu-registration">
                    <use class="icon-x" href="./images/icomoon/sprite.svg#icon-header-man"></use>
                </svg>
                Мій кабінет
            </button>

            <button type="button" class="menu-button-desktop" aria-controls="content" data-menu-button>
                <svg width="20" height="20" aria-label="Выход с аккаунта" class="icon-account-close">
                    <use class="icon-arrow" href="./images/icomoon/sprite.svg#icon-header-arrow"></use>
                </svg>
            </button>


            <ul class="submenu-nav-header">
                <li class="my-cab-menu first"><a href="#my-ads">Мої оголошення</a>
                </li>
                <li class="my-cab-menu second"><a href="#best">Обране</a></li>
            </ul>

            </li>


            <button type="button" class="login-button" aria-controls="login" data-search-button>
                <svg width="20" height="20" aria-label="Вход в личный кабинет" class="icon-header-login">
                    <use class="icon-man" href="./images/symbol-defs.svg#icon-user-profile"></use>
                </svg>
            </button>


            <button type="button" class="create-ad" aria-controls="create-ad" data-action="open-modal">
                Створити оголошення
            </button>

            <button type="button" class="search-button" aria-controls="search" data-action="open-modal-search">


                <svg width="24" height="24" aria-label="Поиск товаров" class="icon-header-search">
                    <use class="icon-search" href="./images/icomoon/sprite.svg#icon-header-search"></use>
                </svg>
            </button>

            <button type="button" class="button-cleanup" aria-controls="cleanup" data-clear-button>
                <svg width="24" height="24" aria-label="Очистить фильтры" class="icon-cleanup">
                    <use class="icon-header-circle" href="./images/icomoon/sprite.svg#icon-header-circle"></use>
                </svg>
                <span class="cleanup-span">Очистити фільтри</span>
            </button>

            <!-- Боковое меню -->  
            <div class="content" id="content" data-menu>
                <button type="button" class="menu-button is-open" aria-controls="content" data-menu-button>
                    <svg width="20" height="20" aria-label="Переключатель мобильного меню"
                        class="icon-header-menu-tablet">
                        <use class="icon-arrow" href="./images/icomoon/sprite.svg#icon-header-arrow"></use>
                    </svg>
                </button>

                <button type="button" class="close-button" aria-controls="content" data-menu-button>
                    <svg width="20" height="20" aria-label="Закрывает меню" class="icon-header-menu-close">
                        <use class="icon-x" href="./images//symbol-defs.svg#icon-close"></use>
                    </svg>
                </button>

                <!-- <svg width="20" height="20" aria-label="Закрывает подменю" class="icon-submenu-uparrow">
                    <use class="icon-x" href="./images/icomoon/sprite.svg#icon-header-up-arrow"></use>
                </svg>
                <svg width="20" height="20" aria-label="Открывет подменю" class="icon-submenu-downarrow">
                    <use class="icon-x" href="./images/symbol-defs.svg#icon-arrow-drop-down"></use>
                </svg> -->

                <ul class="header-nav-ul">
                    <li class="header-nav-list desktop my-cab">
                        <a href="#my-cabinet">
                            <svg width="20" height="20" aria-label="Мой кабинет" class="icon-submenu-registration">
                                <use class="icon-x" href="./images/icomoon/sprite.svg#icon-header-man"></use>
                            </svg>
                            Мій кабінет
                        </a>
                        <svg width="20" height="20" aria-label="Закрывает подменю" class="icon-submenu-uparrow">
                            <use class="icon-x" href="./images/icomoon/sprite.svg#icon-header-up-arrow"></use>
                        </svg>
                        <svg width="20" height="20" aria-label="Открывет подменю" class="icon-submenu-downarrow">
                            <use class="icon-x" href="./images/symbol-defs.svg#icon-arrow-drop-down"></use>
                        </svg>
                        <ul class="submenu-nav">
                            <li class="my-cab-menu first"><a href="#my-ads">Мої оголошення</a>
                            </li>
                            <li class="my-cab-menu second"><a href="#best">Обране</a></li>
                        </ul>
                    </li>
                    <li class="header-nav-list desktop login">
                        <a href="#registration">
                            <svg width="20" height="20" aria-label="Регистрация" class="icon-submenu-registration">
                                <use class="icon-x" href="./images/icomoon/sprite.svg#icon-header-man"></use>
                            </svg>
                            Реєстрація / Увійти
                        </a>
                    </li>
                    <li class="header-nav-list">
                        <a href="#property">Нерухомість</a>
                    </li>
                    <li class="header-nav-list">
                        <a href="#transport">Транспорт</a>
                    </li>
                    <li class="header-nav-list">
                        <a href="#work">Робота</a>
                    </li>
                    <li class="header-nav-list">
                        <a href="#electronics">Електроніка</a>
                    </li>
                    <li class="header-nav-list">
                        <a href="#business">Бізнес та послуги</a>
                    </li>
                    <li class="header-nav-list">
                        <a href="#vacation">Відпочинок і спорт</a>
                    </li>
                    <li class="header-nav-list">
                        <a href="#free">Віддам безкоштовно</a>
                    </li>
                    <li class="header-nav-list">
                        <a href="#exchange">Обмін</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>