<!-- backdrop -->
<!-- is-hidden -->


<div class="backdrop-authorization is-hidden" data-modal>
    <div class="modal-authorization">


        <button type="button" class="authorization-button-close" data-modal-close-authModal>
            <svg class="icon-close">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>



<h2 class="authorization-text">Ви можете авторизуватися за допомогою Googlt Account:</h2>
<div class="google-logo">
    <svg class="icon-google">
        <use href="./images/google.svg#icon-google" width="18" height="18"></use>
    </svg>
    <span class="google">Google</span>
    </div>
<h2 class="authorization-text">Або зайти за допомогою імейлу і пароля, попередньо зареєструвавшись:</h2>
<form>

<input type="email" class="input-authorization" placeholder="E-mail" />
<input type="password" class="input-authorization" placeholder="Password" />
<button type="submit" class="first-btn button-authurization">Увійти</button>
<button type="submit" class="button-authurization">Зареєструватись</button>

</form>
</div>
</div>