<footer class="footer">
    <ul class="footer_container">
        <li class="footer_paragraph"><b class="copyright_footer">&copy</b>2019<svg class="footer_icon" width="0"
            height="20">
            <use href="./images/sprite.svg#icon-Vector-1"></use>
            </svg> All Rights Reserved <svg class="footer_icon" width="0" height="20">
            <use href="./images/sprite.svg#icon-Vector-1"></use>
            </svg>
        </li>

        <li class="footer_paragraph1"> Developed with
            <svg class="footer_icon1" width="16" height="16">
                <use href="./images/sprite.svg#icon-favorite-heart-button"></use>
            </svg> by <a class="goit_link" href="https://goit.ua/proekty/">GoIT Students</a>
        </li>
    </ul>
</footer>