
<section class="section">
    <div class="main-container">

        <!-- все что ниже будет динамически приходить с бекенда -->
        <div class="categories-group">
            <ul class="product-card-one-group">
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="product-card__my">
                    <img class="product-img__my" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-price">Тут будет цена грн</p>
                    </div>
                </li>

            </ul>
        </div>

        <div>
            <button class="button-next-pages">1</button>
            <button class="button-next-pages">2</button>
            <button class="button-next-pages">3</button>
        </div>

    </div>
</section>
    