<div class="main-container">
    <section class="section">

        <div class="categories-group">
            <ul class="product-card-one-group">
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
                <li class="one-card">
                    <img class="one-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Тут будет название карточки</h3>
                        <p class="product-sale-price">Тут будет цена грн</p>
                    </div>
                </li>
            </ul>
        </div>

        <div>
            <button class="next-page-button">1</button>
            <button class="next-page-button">2</button>
            <button class="next-page-button">3</button>
        </div>
    </section>
</div>