<div class="main-container">
    <section class="section">
        <div class="categories-group">
            <div class="categories">
                <div class="categories-title">
                    <button class="button-left"><svg class="icon-arrow-left" width="30" height="30">
                            <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                        </svg></button>
                    <h2 class="section-title">РОЗПРОДАЖ | РІЗНЕ</h2>
                    <a class="section-text" href="Дивитися всі">Дивитися всі</a>

                    <button class="button-right"><svg class="icon-arrow-right" width="30" height="30">
                            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                        </svg></button>

                </div>
                <ul class="cards-group">

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-price"> <s>цена грн</s> </p>
                                <p class="product-presale-price">цена грн</p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-price"> <s>цена грн</s> </p>
                                <p class="product-presale-price">цена грн</p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-price"> <s>цена грн</s> </p>
                                <p class="product-presale-price">цена грн</p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-price"> <s>цена грн</s> </p>
                                <p class="product-presale-price">цена грн</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <div class="categories-group">
            <div class="categories">
                <div class="categories-title">
                    <button class="button-left"><svg class="icon-arrow-left" width="30" height="30">
                            <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                        </svg></button>
                    <h2 class="section-title">ВІДПОЧИНОК | СПОРТ</h2>
                    <a class="section-text" href="Дивитися всі">Дивитися всі</a>
                    <button class="button-right"><svg class="icon-arrow-right" width="30" height="30">
                            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                        </svg></button>

                </div>
                <ul class="cards-group">

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="20" height="20">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <div class="categories-group">
            <div class="categories">
                <div class="categories-title">
                    <button class="button-left"><svg class="icon-arrow-left" width="30" height="30">
                            <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                        </svg></button>
                    <h2 class="section-title">ВІДДАМ БЕЗКОШТОВНО</h2>
                    <a class="section-text" href="Дивитися всі">Дивитися всі</a>
                    <button class="button-right"><svg class="icon-arrow-right" width="30" height="30">
                            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                        </svg></button>

                </div>
                <ul class="cards-group">

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <div class="categories-group">
            <div class="categories">
                <div class="categories-title">
                    <button class="button-left"><svg class="icon-arrow-left" width="30" height="30">
                            <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                        </svg></button>
                    <h2 class="section-title">БІЗНЕС ТА ПОСЛУГИ</h2>
                    <a class="section-text" href="Дивитися всі">Дивитися всі</a>
                    <button class="button-right"><svg class="icon-arrow-right" width="30" height="30">
                            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                        </svg></button>

                </div>
                <ul class="cards-group">

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                    <li class="card">
                        <div class="card-image">
                            <img class="img" src="./images/rectangle-7.jpg" alt="" />
                            <div class="card-overlay">
                                <button class="icon-favorite">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/symbol-defs.svg#icon-heart-favorite"></use>
                                    </svg>
                                </button>
                                <button class="icon-fullscreen">
                                    <svg class="icon" width="16" height="16">
                                        <use href="./images/sprite.svg#icon-fullscreen"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3 class="product-name">Тут будет название карточки</h3>
                            <div class="product-content-price">
                                <p class="product-sale-price"> цена грн </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div>
            <button class="next-page-button">1</button>
            <button class="next-page-button">2</button>
            <button class="next-page-button">3</button>
        </div>
    </section>
    
</div>