// $mobile: 320px;
// $tablet: 768px;
// $desktop: 1280px;

// $primary-color: #000000;
// $secondary-color: #878686;
// $background-color: #e2e3e5;
// $whitetext: #ffffff;
// $modaltext: #bbbbbb;
// $orange: #ff6b09;
// $grey: #f5f6fb;
// $containercolor: #e2e3e5;
// $font-primary: 'Roboto', sans-serif;
// $font-secondary: 'Montserrat', sans-serif;

.add-modal-backdrop {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  /* ----вместо width: 100%; height: 100%; можно задать :----
  bottom: 0px;
  right: 0px;   */
  width: 100%;
  height: 100%;

  padding: 20px;

  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none; /*при скрытом элементе пропускает все клики через|мимо себя*/

    /* когда backdrop спрятан, модальное окно тоже спрятано: */
    &.add-modal {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

.add-modal {
  position: absolute;
  display: flexbox;
  align-items: center;

  top: 50%;
  left: 50%;

  width: 100%;
  max-width: 290px;

  padding-top: 54px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: $font-primary;
  background-color: white;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {
    max-width: 724px;

    padding-left: 53px;
    padding-right: 55px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 861px;

    padding-left: 105px;
    padding-right: 105px;
  }
}

.add-modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  padding: 0px;

  border-radius: 50%;
  border: 1px white;
  background-color: white;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &:hover svg,
  &:focus svg {
    fill: $orange;
    transition: all 150ms linear;
  }

  .add-modal-close-icon {
    position: absolute;
    display: block;

    width: 14px;
    height: 14px;

    fill: #212121;

    transition: all 150ms linear;
  }
}

.add-modal-title {
  display: flex;

  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;

  font-family: $font-primary;
  color: $primary-color;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
}

.add-modal-field {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.add-modal-input {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 56px;

  padding-left: 23px;
  padding-right: 23px;
  padding-top: 20px;
  padding-bottom: 20px;

  border: 1px solid $modaltext;

  font: inherit;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    width: 458px;
  }
}

.add-modal-textarea {
  resize: vertical;
}

.input-select {
  padding: 10px;
}

.add-photo-input-container {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    width: 468px;
    flex-wrap: nowrap;

    margin: -5px;
  }

  @media screen and (min-width: $desktop) {
    width: 450px;
    flex-wrap: nowrap;
  }

  .photo-input-item {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    height: 46px;

    width: calc((100% - 6 * 5px) / 3);
    margin: 5px;

    color: $modaltext;
    background: $grey;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    @media screen and (min-width: $tablet) {
      width: 83px;
      height: 50px;
    }

    @media screen and (min-width: $desktop) {
      width: 78px;
      height: 50px;
    }

    .add-photo-input {
      width: 0;
      height: 0;
      padding: 0;
      opacity: 0;
    }
  }
}

.add-modal-label {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: black;
}

.add-modal-button-container {
  margin-top: 40px;
}
