button {
  background-color: transparent;
  border: none;

  height: 70px;
  width: 70px;
}

.container {
  max-width: 767px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1259px) {
    max-width: 768px;
    padding-left: 22px;
    padding-right: 22px;
  }

  @media screen and (min-width: 1260px) {
    max-width: 1260px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container.header {
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  display: flex;
  align-items: center;

  position: relative;
  border-bottom: 1px solid #e2e3e5;
}

// Navigation

.logo-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  padding: 25px;

  color: #000000;
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: 0;
  }
}

// Logo

.login-button {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1260px) {
    display: none;
  }

  margin-left: 60px;
  // display: block;
  // z-index: 2;

  // transform: translate(-397px, 151px);
}

.login-button.is-open {
  // display: block;
  // z-index: 2;
}

.login-button-tablet {
  min-width: 130px;
  cursor: pointer;
  @media screen and (max-width: 1259px) {
    display: none;
  }
  margin-right: 20px;
  margin-left: 230px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
}

.create-ad {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ff6b09;

  min-width: 188px;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.search-button {
  cursor: pointer;

  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
  }
}

// .search-button-tablet {
//   @media screen and (max-width: 767px) {
//     display: none;
//   }
// }

.menu-button {
  padding: 25px;
  border-right: 1px solid #e2e3e5;

  @media screen and (min-width: 768px) {
    transform: translateY(100%);
  }

  @media screen and (min-width: 1260px) {
    // display: none;
    visibility: hidden;
    // transform: scale(0);
  }
}

.menu-button-tablet {
  padding: 25px;

  border-right: 1px solid #e2e3e5;

  @media screen and (min-width: 1260px) {
    display: none;
  }
}

.menu-button-desktop {
  @media screen and (max-width: 1259px) {
    display: none;
  }
}

.button-cleanup {
  height: 70px;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    transform: translate(550px, 89%);
    min-width: 157px;
    position: absolute;
  }
  @media screen and (min-width: 1260px) {
    transform: translate(1055px, 60px);
  }
}

.icon-cleanup {
  transform: translateY(5px);
  margin-right: 11px;
}

.cleanup-span {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: #000000;
}

.icon-header-circle {
  fill: #000000;
}
.icon-man {
  fill: #000000;
}

.menu-button .icon-close {
  display: none;
}

.button-header {
  color: #ffffff;

  @media screen and (max-width: 767px) {
    color: inherit;
  }

  @media screen and (min-width: 768px) and (max-width: 1259px) {
    margin-bottom: 20px;
  }
}

.icon-header {
  display: none;
  position: absolute;
  top: 50%;

  @media screen and (min-width: 768px) {
    display: block;
    right: 39px;
  }

  @media screen and (min-width: 1260px) {
    right: 15px;
  }
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;

  @media screen and (min-width: 768px) {
    border-right: 1px solid #e2e3e5;
  }

  @media screen and (min-width: 1260px) {
    display: none;
  }
}

// Backdrop MENU

.content {
  position: absolute;
  @media screen and (max-width: 1259px) {
    display: none;

    top: 0;
    right: 100%;

    // background-color: $alternative-tittle-color;

    height: 100%;
    // width: 100%;

    padding-top: 70px;

    @media screen and (min-width: 768px) {
      display: none;
      width: 45%;
    }
  }

  &.is-open {
    z-index: 1;
    left: 0;
    display: block;
    background-color: #f5f6fb;
    position: fixed;
    top: 0;
    min-width: 338px;

    @media screen and (min-width: 1260px) {
      background-color: transparent;
      left: auto;
      top: auto;
    }
  }
}

// .hidden {
//   overflow: hidden;
// }

.menu-button.is-open {
  position: absolute;
  right: 0px;
  top: 75px;
  transition: color 250ms linear;
  border: none;

  @media screen and (min-width: 768px) {
    top: 0;
    // border-right: 1px solid #e2e3e5;
  }
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-open {
  display: none;
}

// List  BACKDROP MENU

.header-nav-ul {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #000000;

  border-top: 1px solid #e2e3e5;
  border-right: 1px solid #e2e3e5;

  @media screen and (min-width: 1260px) {
    display: flex;
    flex-direction: row;
    transform: translate(30px, 65px);

    border: none;
  }
}

.header-tablet-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  border-bottom: 1px solid #e2e3e5;
}

.header-nav-list.desktop {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  // display: flex;
  // align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  @media screen and (min-width: 1260px) {
    display: none;
  }
}

.header-nav-list.desktop.my-cab {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  color: #000000;
}

.header-nav-list {
  @media screen and (max-width: 1259px) {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;

    letter-spacing: 0.02em;

    color: #000000;

    border-bottom: 1px solid #e2e3e5;
    padding: 26px;
    padding-left: 34px;
  }

  @media screen and (min-width: 1260px) {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.02em;

    color: #000000;
  }
}

.header-nav-list:not(:last-child) {
  @media screen and (min-width: 1260px) {
    margin-right: 36px;
  }
}

// Submenu

.submenu-nav {
  padding: 20px;

  transform: translateX(10px);
  display: none;
}

.header-nav-list:focus-within .submenu-nav,
.header-nav-list:focus-within .icon-submenu-uparrow {
  display: block;
}

.header-nav-list:focus-within .icon-submenu-downarrow {
  display: none;
}

.submenu-nav-header {
  position: absolute;
  padding: 20px;
  min-width: 206px;

  background: #f5f6fb;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);

  transform: translate(827px, 84px);

  z-index: 3;
  display: none;

  @media screen and (max-width: 1259px) {
    display: none;
  }
}

.submenu-nav-header.focus {
  display: block;
}

// .submenu-login {
//   padding: 20px;
//   position: absolute;
//   transform: translate(-60px, 15px);
// }

.my-cab-menu {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.33;

  letter-spacing: 0.02em;

  color: #000000;
}

.my-cab-menu:not(:last-child) {
  margin-bottom: 20px;
}

.my-cab-menu.first {
}
.my-cab-menu.second {
}

.icon-submenu-uparrow {
  transform: translate(150px, -20px);
  position: absolute;
  display: none;

  @media screen and (min-width: 1260px) {
    display: none;
  }
}

.icon-submenu-downarrow {
  transform: translate(150px, -20px);
  position: absolute;

  @media screen and (min-width: 1260px) {
    display: none;
  }
}

.icon-submenu-registration {
  margin-right: 10px;
}

.header-my-cab {
  width: auto;
  padding: 25px;
  border-right: 1px solid #e2e3e5;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  margin-left: 221px;
  // margin-right: 18px;

  @media screen and (max-width: 1259px) {
    display: none;
  }
}
