.one-card-title {
  margin-bottom: 6px;
  font-family: $font-primary;
  font-style: Medium;
  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 2%;
  fill: Solid $primary-color;
}
.cart-text {
  font-family: $font-primary;
  font-style: Light;
  font-size: 12px;
  line-height: 14px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 2%;
  fill: Solid $secondary-color;
}
.card-description {
  font-family: $font-primary;
  font-style: Light;
  font-size: 12px;
  line-height: 14px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 2%;
  fill: Solid $primary-color;
}
