ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.section {
  background-color: $background-color;
  padding-top: 0px;
  padding-bottom: 30px;
  @media screen and (min-width: $tablet) {
    margin-top: 60px;
  }
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $mobile;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 37px;
  }
}

.categories {
  @media screen and (max-width: $tablet) {
    overflow: hidden;
    height: 783px;
  }
  @media screen and (min-width: $tablet) {
    overflow: hidden;
    height: 500px;
  }
  @media screen and (min-width: $desktop) {
    overflow: hidden;
    height: 500px;
  }
}

.categories-title {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 3px;
  padding-bottom: 2px;
  @media screen and (max-width: $tablet) {
    min-width: 285px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 725px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1000px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 12px;
  font-style: bold;
  line-height: 1.21;
  margin: 0px;
  min-width: 160px;
  padding-top: 7px;
}

.section-text {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.21;

  margin: 0px;

  margin-left: 20px;
  color: $orange;

  min-width: 100px;
  text-decoration: underline;
  padding-top: 7px;
}

.product-card-group {
  .product-card {
    list-style: none;
  }

  padding: 0px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.button-left,
.button-right {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: $whitetext;
  fill: $primary-color;
  outline: none;
  @media screen and (max-width: 768) {
    display: none;
  }
}

.button-left:hover,
.button-left:focus {
  background-color: $orange;
  fill: $whitetext;
}

.button-right:hover,
.button-right:focus {
  background-color: $orange;
  fill: $whitetext;
}

.button-right {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 350px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 850px;
  }
}

.button-left {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 20px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 20px;
  }
}

.product-card-one-group {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.one-card {
  list-style: none;
  margin: 15px;
  background: #ffffff;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
  // &:last-child {
  //   margin-bottom: 0;
  // }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 8 * 15px) / 4);
  }
}
.one-card_:hover,
.one-card:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.one-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.next-page-button {
  font-family: $font-primary;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 1px;
  background-color: #fff;

  @media screen and (min-width: $tablet) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.next-page-button:hover,
.next-page-button:focus {
  background-color: $primary-color;
  color: $whitetext;
}

.container-card {
  margin-left: auto;
  margin-right: auto;
}

.product-title {
  font-family: Montserrat;
  font-style: Bold;
  font-size: 12px;
  line-height: 15px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 9%;
  fill: Solid $primary-color;
}
.product-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: $primary-color;
}
.product-sale-price {
  padding-left: 4px;
  padding-right: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: $primary-color;
}

.product-presale-price {
  // margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: $orange;
}

.product-price {
  padding-left: 4px;
  padding-right: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: $secondary-color;
}

.product-content-price {
  display: flex;
}

.cards-group {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 769px) {
  }
}
.img {
  width: 100%;
}

.card {
  margin-bottom: 20px;
  background: #ffffff;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    margin-bottom: 20px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1281px) {
    width: calc((100% - 20px * 3) / 4);
    margin-right: 20px;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.card-content {
  margin: 20px 0px 20px 20px;
}
.card-image {
  position: relative;
  display: block;
}
.card-overlay {
  opacity: 0;
  // visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.2s;

  &:hover,
  &:focus {
    opacity: 1;
    visibility: visible;
  }
}

.icon-favorite {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  // border: none;
  // background-color: transparent;
  // outline: none;
  cursor: pointer;
  outline: none;
}
.icon-fullscreen {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0;
  // border: none;
  // outline: none;
  cursor: pointer;
  outline: none;
}
